.bg-nav {
  background-color: #535466;
}


.panel-landing {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  position: fixed;
  overflow: auto;

  background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background-repeat: repeat;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
  height: 100%;
}

.site-wrapper {
  min-height: 100%;
  height: 100%;
}

.site-sub-wrapper {
  min-height: 100%;
  height: 100%;
}

main {
  min-height: 100%;
  height: 100%;
}

.bookmarks {
  min-height: 100%;
  height: 100%;
}

.side-nav {
  min-height: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
}

.side-nav-sub {
  min-height: 100%;
  height: 100%;
}
